h1 {
    font-weight: bold;
    color: #ffffff;
    background-color: #008a83;
    border: 2px;
    border-style: solid;
    border-color: #005c57;
    border-radius: 5px;
    text-align: center;
    line-height: 1.5em;
}

h1:hover {
    background-color: #00bdb3;
    color: rgb(39, 39, 39);
}

.submenu {
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    flex-direction: fit-content;
    border-color: #046b66;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
    
}

.menu {
    text-align: center;
}

.menu a{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    justify-content: center;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    margin: 2px;
    border-color: aqua;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 35%;
    margin-right: 35%;
}

.menu a:hover{
    background-color: #ffffff;
}